body
{
    background-image: url("../img/wallpaper.jpg");
    background-repeat:no-repeat;
    background-size:100%;
}
h1{
	font-family: "Six Caps","fantasy";
	font-weight: bold;
	font-size:40px;
}
background-image{
	opacity: 0.2%;
}
#header{
	background-color:white;
	width:40%;
	text-align:center;
	height:15%;

}
#section{
	padding:20px;
    background-repeat:no-repeat;

}
#body_content{
	background-color:white;
	width:35%;
	height:15%;
	padding:30px;
	background-image: url("../img/2.jpg");	
	margin-left:15px;
}
#body_content h2{
	background-color: rgba(128, 128, 128, 0.45);
	font-size: 22px;
	width:110%;
	margin-left: -30px;
	margin-top: -30px;
	padding: 7px;
	text-align:center;
}
#body_content h3{
	font-size: 20px;
}

#body_content p{
	background-color: black;
	color:white;
	padding: 0px;
	text-align:center;
	height:56px;
	width:60%;
}
#footer p{
	background-color:white;
	color:black;
	font-size: 22px;
	margin-left: -30px;
	padding: 7px;
	width:110%;
	margin-bottom:-30px;
}